body{
    margin: 0;
    font-family: 'Lora', serif;
}
/*
    =============
        LAYOUT
    =============
*/
header{
    background: #f8f8f8;
    padding: 2em 0;
}
h1{
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
    font-size: 2rem;
    margin: 0;
}
.container{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
.container-nav{
    display: flex;
    justify-content: space-between;
}
@media (max-width:675px) {
    .container-nav{
        flex-direction: column;
    }
    header{
        text-align: center;
    }
}
.subtitle
{
    font-size: 0.75rem;
    margin: 0;
    font-weight: 700;
    color:#1792d2;
}
/*  navigation */
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
nav li{
    margin-left: 2em;
}
nav a{
    text-decoration: none;
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: .25em 0;

}
nav a:hover, nav a:focus{
    color:#1792d2 ;
    font-family: 'Ubuntu', sans-serif;
}
@media (max-width:675px) {
    nav ul{
        flex-direction: column;
    }
    nav li {
        margin: 0.25em;
    };
}
.current-page{
    color:#1792d2 ;
    border-bottom: solid 3px #1792d2;
}